* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}

.header {
	background-image: url(/pexels-photo-248515.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 450px;
}

.header-wrap {
	display: grid;
	justify-content: center;
	text-align: center;
	color: white;
	grid-template-columns: minmax(500px, 950px);
	padding: 1.5em;
}

.header-wrap h1 {
	padding-top: 100px;
	font-size: 3em;

}

.header-wrap p {
	padding-top: 50px;
	font-size: 30px;
}

.btn-container {
	display: inline-block;
	background: #333;
	color: #fff;
	text-decoration: none;
	padding: 1em 2em;
	border: 1px solid #666;
}

.btn {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	cursor: pointer;

}
.btn-container :hover {
	background-color: white;
	color: #333;
}

.app {
	background-color: #eaeaea;
}

.app h1 {
	text-align: center;
	padding: 1em;
	font-size: 2em;

}

.app-info {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	justify-content: center;
	gap: 50px;
	font-size: 1.5em;
	line-height: 1.5;
	color: #333;
	padding: 1em;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-template-rows: 800px;
	justify-content: center;
	background-color: #333;
	gap: 30px;
	padding: 40px;
}
.card-1{
	background-color: white;

}
.image-card img {
	max-width: 400px;
}
 .card-text p{
	 text-align: center;
	 padding: 20px;
 }
.card-text h4 {
	font-size: 2.5em;
	padding-top: 80px;
}
.card-text p{
	font-size: 2em;
	padding-top: 60px;
}

.handle {
	display: grid;
	text-align: center;
	justify-content: center;
	padding: 2em;
	background-color: #eaeaea;
	grid-template-columns: minmax(150px,800px);

}

.handle h1 {
	padding-bottom: 20px;
	line-height: 1.5em;
	font-size: 2em;

}

.handle p {
	color: #333;
	font-size: 1.5em;
	line-height: 1.8em;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding: 1em 0;

}

.about-company {
	display: grid;
	grid-template-columns: repeat(2, 1fr);


}

.text_style {
	color: white;
	font-size: 1.5em;
	padding: 10%;
	text-align: center;
	gap: 10px;
}

.text_style2 {
	font-size: 1.6em;
}

.text_style h3 {
	padding-bottom: 1.5em;
}

.text_style p {
	padding-bottom: 1.5em;
}

.about-company-card1 {
	background-color: #2690d4;

}

.about-company-card2 {
	background-color: #333;
}

footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: black;

}

footer p {
	font-size: 1.5em;
	line-height: 1.5;
	color: white;
	padding: 2em;
	text-align: center;

}